<div class="tabcontent" id="{{tab.id}}">
    <h2>Helicase</h2>

    <p>
        Version <span id="tversion">0.2.3</span>
    </p>

    <p>
        by <a href="https://buero.io" target="_blank">Genossenschaft Solutionsbüro</a>
    </p>

    <br />

    <p>
        Repository: <a href="https://gitlab.com/solutionsbuero/helicase" target="_blank">GitLab</a>
    </p>
    <p>
        PRs, contributions, bug reports etc. are very welcome, please use the repos issue tracker to contact us.
    </p>

    <br />

    <p>
        License: <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank">GNU GPL v3.0</a><br />
    </p>

    <p>
        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.
    </p>

    <p>
        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details.
    </p>
</div>
