<div class="tabcontent {{initclass}}" id="{{tab.id}}">
    <h2>Misc commands</h2>

    <div id="cmdlist_container">
        <table id="cmdtable" class="itemlist">

            <tr>
                <td>Command file:</td>
                <td><code>{{data.filename}}</code></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></td>
            </tr>
            {% for i in data.commands %}
            <tr>
                <td>Description:</td>
                <td>{{i.human}}</td>
            </tr>
            <tr>
                <td>Command:</td>
                <td><code>{{i.cmd}}</code></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></td>
            </tr>
            {% endfor %}
        </table>

    </div>

</div>
