<h3>Edit commands</h3>

<p>
    <a href="javascript: edit_cmd();">Add new command</a>
</p>

<form method="post" action="/api/cmd" class="dataentry" id="edit_cmd_form">

    <label for="human">Description:</label>
    <input type="text" name="human" />

    <label for="cmd">Command:</label>
    <input type="text" name="cmd" />

    <span class="buttoncontainer">
        <input type="submit" value="Add command" />
    </span>

</form>
