<h3>Cron job</h3>

<form method="post" action="/api/cron/{{data.jobid}}" class="dataentry" id="edit_cron_form">

    {% if data.has_cron %}
    <label>Cron job found:</label>
    <code class="infocode successtext">Cron job found</code>

    {% else %}
    <label>Cron job found:</label>
    <code class="infocode errortext">Currently no Cron job for this job</code>
    {% endif %}

    <label for="cron_edit_table">Cron job:</label>
    <table id="cron_edit_table">
        <tr>
            <td>min:</td>
            <td>h:</td>
            <td>dom:</td>
            <td>mon:</td>
            <td>dow:</td>
            <td>enable:</td>
        </tr>
        <tr>
            <td><input type="text" name="min_slice" value="{{data.cron.min_slice}}"/></td>
            <td><input type="text" name="hou_slice" value="{{data.cron.hou_slice}}"/></td>
            <td><input type="text" name="dom_slice" value="{{data.cron.dom_slice}}"/></td>
            <td><input type="text" name="mon_slice" value="{{data.cron.mon_slice}}"/></td>
            <td><input type="text" name="dow_slice" value="{{data.cron.dow_slice}}"/></td>
            <td>
                <select name="enabled">
                    <option value="">No</option>
                    <option value="True" {% if data.cron.enabled %}selected{%endif%}>Yes</option>
                </select>
            </td>
        </tr>
    </table>

    <span class="buttoncontainer">
        {% if data.has_cron %}
        <input type="submit" value="Edit job" />

        {% else %}
        <input type="submit" value="Add job" />
        {% endif %}
    </span>

    <span class="buttoncontainer">
        {% if data.has_cron %}
        <button type="button" onclick="rm_cron({{data.jobid}});">Remove Cron job</button>
        {% endif %}
    </span>

</form>
