<div class="tabcontent {{initclass}}" id="{{tab.id}}">
    <h2>MySQL databases</h2>

    <div id="dumplist_container">
        {% include "dumplist.html" %}
    </div>

    <div id="dumpform_container">
        {% include "dumpform.html" %}
    </div>

    <h3>Test dumps</h3>

    <form class="dataentry" id="test_dump_form" method="post" action="/api/testdump">

        <label for="dumpid">Dump to test:</label>
        <div class="dump_drop_container">
            {% include "dumpdrop.html" %}
        </div>

        <span class="buttoncontainer">
            <input type="submit" value="Test dump" />
        </span>

    </form>

</div>
