<h3>Edit Database dumps</h3>

<p>
    <a href="javascript: edit_dump();">Add new dump</a>
</p>

<form method="post" action="/api/dump" class="dataentry" id="edit_dump_form">

    <label for="host">Host:</label>
    <input type="text" name="host" />

    <label for="port">Port:</label>
    <input type="number" name="port" />

    <label for="username">Username:</label>
    <input type="text" name="username" />

    <label for="passwd">Password:</label>
    <input type="password" name="passwd" />

    <label for="dbname">Database name:</label>
    <input type="text" name="dbname" />

    <label for="dumppath">Dump file path:</label>
    <input type="text" name="dumppath" />

    <span class="buttoncontainer">
        <input type="submit" value="Add database" />
    </span>

</form>
