<table id="dumptable" class="itemlist">
    {% for i in data.dumps %}
    <tr>
        <td>
            <a href="javascript: rm_dump({{i.id}})">
                 <img src="/static/trash.svg" />
            </a>
        </td>
        <td>
            <a href="javascript: edit_dump({{i.id}})">
                 <img src="/static/edit.svg" />
            </a>
        </td>
        <td>{{i.dbname}}</td>
    </tr>
    {% endfor %}
</table>
