<h3>Edit jobs</h3>

<p>
    <a href="javascript: edit_job();">Add new job</a>
</p>

<form method="post" action="/api/job" class="dataentry" id="edit_job_form">

    <label for="human">Description:</label>
    <input type="text" name="human" />

    <label for="smtp">SMTP account:</label>
    <section id="smtp" class="mail_drop_container">
        {% include "maildrop_jobs.html" %}
    </section>

    <label for="smtp_send_success">E-Mail on success:</label>
    <select name="smtp_send_success">
        <option value="">No</option>
        <option value="True">Yes</option>
    </select>

    <label for="smtp_to">Send mail to (";" to separate):</label>
    <input type="text" name="smtp_to" />

    <label for="shutdown">Shutdown on success:</label>
    <select name="shutdown">
        <option value="">No</option>
        <option value="True">Yes</option>
    </select>

    <span class="buttoncontainer">
        <input type="submit" value="Add job" />
    </span>

</form>
