<table id="cmdtable" class="itemlist">
    {% for i in data.jobs %}
    <tr>
        <td>
            <a href="javascript: rm_job({{i.id}})">
                 <img src="/static/trash.svg" />
            </a>
        </td>
        <td>
            <a href="javascript: edit_job({{i.id}})">
                 <img src="/static/edit.svg" />
            </a>
        </td>
        <td>{{i.human}}</td>
    </tr>
    {% endfor %}
</table>
