{% set initclass = '' %}
{% if tab.init == True %}
    {% set initclass = 'contentinit' %}
{% endif %}

<div class="tabcontent {{initclass}}" id="{{tab.id}}">
    <h2>Jobs</h2>

    <div id="joblist_container">
        {% include "joblist.html" %}
    </div>

    <div id="jobform_container">
        {% include "jobform.html" %}
    </div>

    <div id="cronjob_container"></div>

    <div id="matchlist_container"></div>

</div>
