{% set initclass = '' %}
{% if tab.init == True %}
    {% set initclass = 'contentinit' %}
{% endif %}

<div class="tabcontent {{initclass}}" id="{{tab.id}}">
    <form action="/login" method="post" class="dataentry" id="loginform">
        <label for="username">User:</label>
        <input type="text" id="username" name="username" />
        <label for="passwd">Password:</label>
        <input type="password" id="passwd" name="passwd" />
        <span class="buttoncontainer">
            <input type="submit" value="Login" />
        </span>
    </form>
</div>
