<h3>Add SMTP account</h3>

<p>
    <a href="javascript: edit_mail();">Add new account</a>
</p>

<form method="post" action="/api/mail" class="dataentry" id="edit_mail_form">

    <label for="host">Host:</label>
    <input type="text" name="host" />

    <label for="port">Port:</label>
    <input type="number" name="port" />

    <label for="ssl">Use SSL:</label>
    <select name="ssl">
        <option value="True">Yes</option>
        <option value="">No</option>
    </select>

    <label for="username">Username:</label>
    <input type="text" name="username" />

    <label for="passwd">Password:</label>
    <input type="password" name="passwd" />

    <label for="from_addr">From:</label>
    <input type="text" name="from_addr" />

    <span class="buttoncontainer">
        <input type="submit" value="Add account" />
    </span>

</form>
