<table id="mailtable" class="itemlist">
    {% for i in data.mail %}
    <tr>
        <td>
            <a href="javascript: rm_mail({{i.id}})">
                 <img src="/static/trash.svg" />
            </a>
        </td>
        <td>
            <a href="javascript: edit_mail({{i.id}})">
                 <img src="/static/edit.svg" />
            </a>
        </td>
        <td>{{i.from_addr}}</td>
    </tr>
    {% endfor %}
</table>
