<div class="tabcontent {{initclass}}" id="{{tab.id}}">
    <h2>SMTP accounts</h2>

    <div id="maillist_container">
        {% include "maillist.html" %}
    </div>

    <div id="mailform_container">
        {% include "mailform.html" %}
    </div>

    <h3>Test account</h3>

    <form class="dataentry" id="test_mail_form" method="post" action="/api/testmail">

        <label for="mail_to_test">Account to test:</label>
        <div class="mail_drop_container">
            {% include "maildrop.html" %}
        </div>

        <label for="mail_test_receiver">Send test to:</label>
        <input type="text" name="mail_test_receiver" value="" />

        <span class="buttoncontainer">
            <input type="submit" value="Send test message" />
        </span>

    </form>

</div>
