
<h3>Match misc commands to job <em>before database dumps</em></h3>

<table class="itemlist">

    {% if data.filtered_cmd.before_sql|length %}
        <tr>
            <td colspan="4">Commands <em>not</em> in use:</td>
        </tr>

        {% for i in data.filtered_cmd.before_sql %}
        <tr>
            <td><a href="javascript: add_cmd_assoc({{data.job.id}}, {{i.id}}, 'before_sql');"><img src="/static/add.svg" /></a></td>
            <td></td>
            <td></td>
            <td>{{i.human}}</td>
        </tr>
        {% endfor %}

    {% endif %}

    {% if data.filtered_cmd.before_sql|length != data.all_cmd|length %}
        <tr>
            <td colspan="4">Commands <em>in</em> use:</td>
        </tr>

        {% for i in data.job.cmdassoc %}
            {% if i.phase == "before_sql" %}
            <tr>
                <td><a href="javascript: rm_cmd_assoc({{data.job.id}}, {{i.id}}, 'before_sql');"><img src="/static/remove.svg" /></a></td>
                <td><a href="javascript: mv_cmd_assoc({{data.job.id}}, {{i.id}}, 1, 'before_sql');"><img src="/static/up.svg" /></td>
                <td><a href="javascript: mv_cmd_assoc({{data.job.id}}, {{i.id}}, -1, 'before_sql');"><img src="/static/down.svg" /></td>
                <td><span class="successtext">{{data.all_cmd[i.cmd_id]["human"]}}</span></td>
            </tr>
            {% endif %}
        {% endfor %}

    {% endif %}

</table>

<h3>Match database dumps to job</h3>

<table class="itemlist">

    {% if data.filtered_mysql|length %}
        <tr>
            <td colspan="4">Dumps <em>not</em> in use:</td>
        </tr>

        {% for i in data.filtered_mysql %}
        <tr>
            <td><a href="javascript: add_mysql_assoc({{data.job.id}}, {{i.id}});"><img src="/static/add.svg" /></a></td>
            <td></td>
            <td></td>
            <td>{{i.dbname}}@{{i.host}}</td>
        </tr>
        {% endfor %}

    {% endif %}

    {% if data.job.mysqlassoc|length %}
        <tr>
            <td colspan="4">Dumps <em>in</em> use:</td>
        </tr>

        {% for i in data.job.mysqlassoc %}
        <tr>
            <td><a href="javascript: rm_mysql_assoc({{data.job.id}}, {{i.id}});"><img src="/static/remove.svg" /></a></td>
            <td><a href="javascript: mv_mysql_assoc({{data.job.id}}, {{i.id}}, 1);"><img src="/static/up.svg" /></td>
            <td><a href="javascript: mv_mysql_assoc({{data.job.id}}, {{i.id}}, -1);"><img src="/static/down.svg" /></td>
            <td><span class="successtext">{{i.mysql_id.dbname}}@{{i.mysql_id.host}}</span></td>
        </tr>
        {% endfor %}

    {% endif %}

</table>

<h3>Match misc commands to job <em>before rsync copies</em></h3>

<table class="itemlist">

    {% if data.filtered_cmd.before_rsync|length %}
        <tr>
            <td colspan="4">Commands <em>not</em> in use:</td>
        </tr>

        {% for i in data.filtered_cmd.before_rsync %}
        <tr>
            <td><a href="javascript: add_cmd_assoc({{data.job.id}}, {{i.id}}, 'before_rsync');"><img src="/static/add.svg" /></a></td>
            <td></td>
            <td></td>
            <td>{{i.human}}</td>
        </tr>
        {% endfor %}

    {% endif %}

    {% if data.filtered_cmd.before_rsync|length != data.all_cmd|length %}
        <tr>
            <td colspan="4">Commands <em>in</em> use:</td>
        </tr>

        {% for i in data.job.cmdassoc %}
            {% if i.phase == "before_rsync" %}
            <tr>
                <td><a href="javascript: rm_cmd_assoc({{data.job.id}}, {{i.id}}, 'before_rsync');"><img src="/static/remove.svg" /></a></td>
                <td><a href="javascript: mv_cmd_assoc({{data.job.id}}, {{i.id}}, 1, 'before_rsync');"><img src="/static/up.svg" /></td>
                <td><a href="javascript: mv_cmd_assoc({{data.job.id}}, {{i.id}}, -1, 'before_rsync');"><img src="/static/down.svg" /></td>
                <td><span class="successtext">{{data.all_cmd[i.cmd_id]["human"]}}</span></td>
            </tr>
            {% endif %}
        {% endfor %}

    {% endif %}

</table>

<h3>Match database rsync commands to job</h3>

<table class="itemlist">

    {% if data.filtered_rsync|length %}
        <tr>
            <td colspan="4">Commands <em>not</em> in use:</td>
        </tr>

        {% for i in data.filtered_rsync %}
        <tr>
            <td><a href="javascript: add_rsync_assoc({{data.job.id}}, {{i.id}});"><img src="/static/add.svg" /></a></td>
            <td></td>
            <td></td>
            <td>{{i.human}}</td>
        </tr>
        {% endfor %}

    {% endif %}

    {% if data.job.rsyncassoc|length %}
        <tr>
            <td colspan="4">Commands <em>in</em> use:</td>
        </tr>

        {% for i in data.job.rsyncassoc %}
        <tr>
            <td><a href="javascript: rm_rsync_assoc({{data.job.id}}, {{i.id}});"><img src="/static/remove.svg" /></a></td>
            <td><a href="javascript: mv_rsync_assoc({{data.job.id}}, {{i.id}}, 1);"><img src="/static/up.svg" /></td>
            <td><a href="javascript: mv_rsync_assoc({{data.job.id}}, {{i.id}}, -1);"><img src="/static/down.svg" /></td>
            <td><span class="successtext">{{i.rsync_id.human}}</span></td>
        </tr>
        {% endfor %}

    {% endif %}

</table>

<h3>Match misc commands to job <em>before job finishes</em></h3>

<table class="itemlist">

    {% if data.filtered_cmd.before_shutdown|length %}
        <tr>
            <td colspan="4">Commands <em>not</em> in use:</td>
        </tr>

        {% for i in data.filtered_cmd.before_shutdown %}
        <tr>
            <td><a href="javascript: add_cmd_assoc({{data.job.id}}, {{i.id}}, 'before_shutdown');"><img src="/static/add.svg" /></a></td>
            <td></td>
            <td></td>
            <td>{{i.human}}</td>
        </tr>
        {% endfor %}

    {% endif %}

    {% if data.filtered_cmd.before_shutdown|length != data.all_cmd|length %}
        <tr>
            <td colspan="4">Commands <em>in</em> use:</td>
        </tr>

        {% for i in data.job.cmdassoc %}
            {% if i.phase == "before_shutdown" %}
            <tr>
                <td><a href="javascript: rm_cmd_assoc({{data.job.id}}, {{i.id}}, 'before_shutdown');"><img src="/static/remove.svg" /></a></td>
                <td><a href="javascript: mv_cmd_assoc({{data.job.id}}, {{i.id}}, 1, 'before_shutdown');"><img src="/static/up.svg" /></td>
                <td><a href="javascript: mv_cmd_assoc({{data.job.id}}, {{i.id}}, -1, 'before_shutdown');"><img src="/static/down.svg" /></td>
                <td><span class="successtext">{{data.all_cmd[i.cmd_id]["human"]}}</span></td>
            </tr>
            {% endif %}
        {% endfor %}

    {% endif %}

</table>
