<h3>Create user</h3>

<p>
    <a href="javascript: edit_user();">Create new user</a>
</p>

<form method="post" action="/api/user" class="dataentry" id="edit_user_form">

    <label for="username">Username:</label>
    <input type="text" name="username" />

    <label for="passwd">Password:</label>
    <input type="password" name="passwd" />

    <label for="passwd2">repeat:</label>
    <input type="password" name="passwd2" />

    <span class="buttoncontainer">
        <input type="submit" value="Create user" />
    </span>

</form>
