<div class="tabcontent {{initclass}}" id="{{tab.id}}">

    <h2>rsync commands</h2>

    <div id="rsynclist_container">
        {% include "rsynclist.html" %}
    </div>

    <div id="rsyncform_container">
        {% include "rsyncform.html" %}
    </div>

</div>
