<h3>Add rsync command</h3>

<p>
    <a href="javascript: edit_rsync();">Add new command</a>
</p>

<form method="post" action="/api/rsync" class="dataentry" id="edit_rsync_form">

    <label for="usual_patterns">Apply usual pattern:</label>
    <select name="usual_patterns" onchange="rsync_apply_pattern();">
        <option value="" selected="selected">none</option>
        {% for i in data.patterns %}
        <option value="{{i.cmd}}">{{i.human}}</option>
        {% endfor %}
    </select>

    <label for="description">Description:</label>
    <input type="text" name="human" />

    <label for="flags">Flags:</label>
    <input type="text" name="flags" />

    <label for="source">Source:</label>
    <input type="text" name="source" />

    <label for="destination">Destination:</label>
    <input type="text" name="destination" />

    <span class="buttoncontainer">
        <input type="submit" value="Add command" />
    </span>

</form>
