
<table id="rsynctable" class="itemlist">
    {% for i in data.rsync %}
    <tr>
        <td>
            <a href="javascript: rm_rsync({{i.id}})">
                 <img src="/static/trash.svg" />
            </a>
        </td>
        <td>
            <a href="javascript: edit_rsync({{i.id}})">
                 <img src="/static/edit.svg" />
            </a>
        </td>
        <td>{{i.human}}</td>
    </tr>
    {% endfor %}
</table>
