<div class="tabcontent {{initclass}}" id="{{tab.id}}">

    <h3>Grant access to shutdown without a password</h3>

    <form method="post" action="/api/shutdown/unlock" class="dataentry" id="unlock_shutdown_form">

        <label>Acting Linux user: </label>
        <code class="infocode">{{data["user"]}}</code>

        <!-- old, obsolete method
        <label for="sudo_passwd">SUDO Password:</label>
        <input type="password" name="sudo_passwd" />
        -->

        <span class="buttoncontainer">
            <input type="submit" value="Attempt unlock" />
        </span>

    </form>

    <h3>Test shutdown</h3>

    <div method="post" class="dataentry" >

        <label>Test shutdown:</label>

        <span class="buttoncontainer">
            <input type="button" value="Shutdown now" onclick="test_shutdown();"/>
        </span>

    </div>

</div>
