<h3>Copy your ID</h3>

<form method="post" action="/api/keys/ssh_copy_id" class="dataentry" id="ssh_copy_id_form">


    <label for="ssh_copy_table">Server:</label>
    <table id="ssh_copy_table">
        <tr>
            <td>User:</td>
            <td></td>
            <td>Host:</td>
            <td></td>
            <td>Port:</td>
        </tr>
        <tr>
            <td><input type="text" name="username" /></td>
            <td>@</td>
            <td><input type="text" name="hostname" /></td>
            <td>:</td>
            <td><input type="number" name="port" value="22" /></td>
        </tr>
    </table>

    <label for="passwd">Password:</label>
    <input type="password" name="passwd" />

    <span class="buttoncontainer">
        <input type="submit" value="Copy key" />
    </span>

</form>
