<h3>Your own SSH key</h3>

<div class="dataentry">

    <label>Acting Linux user: </label>
    <code class="infocode">{{data["user"]}}</code>

    {% if data["keys"]["private_exists"] %}
    <label>Private key: </label>
    <code class="infocode successtext">Private key found</code>

        {% if data["keys"]["public_exists"] %}
        <label>Public key: </label>
        <code class="infocode successtext">Public key found</code>
        {% else %}
        <label>Public key: </label>
        <code class="infocode errortext">Public key not found</code>
        <span class="buttoncontainer">
            <input type="button" onclick="javascript: ssh_create_public_key();" value="Create!" />
        </span>
        {% endif %}

    {% else %}

    <label>Private key: </label>
    <code class="infocode errortext">Private key not found</code>

    <span class="buttoncontainer">
        <input type="button" onclick="javascript: ssh_create_private_key();" value="Create!" />
    </span>

</div>

{% endif %}

{% if data["keys"]["private_exists"]and data["keys"]["public_exists"] %}

<div id="transfer_key_container">
    {% include "ssh_transfer_key.html" %}
</div>

{% endif %}
