{% for i in data.jobs %}
<h3>Job {{i.human}}</h3>

<div class="dataentry">

    <label>State: </label>
    <code class="infocode">{{data["user"]}}
        {% if i.running %}
        <span class="errortext">IN PROGRESS</span>
        {% else %}
        idle
        {% endif %}
    </code>

    {% if i.last_run_successful %}

        <label>Last successful run:</label>
        <code class="successtext">{{i.last_success|stringtime}}</code>

    {% else %}

        <label>Last failed run:</label>
        {% if i.last_run %}
        <code class="errortext">{{i.last_run|stringtime}}</code>
        {% else %}
        <code class="errortext">Never</code>
        {% endif %}

        <label>Last successful run:</label>
        {% if i.last_success %}
        <code class="successtext">{{i.last_success|stringtime}}</code>
        {% else %}
        <code class="errortext">Never</code>
        {% endif %}

    {% endif %}

    <label>Next scheduled run:</label>
    {% if i.next_cron is none %}
    <code>No Cron job found</code>
    {% elif i.next_cron == 0 %}
    <code>Cron job disabled</code>
    {% else %}
    <code>{{i.next_cron|stringtime}}</code>
    {% endif %}

    <label><a href="javascript: toggle_stdout({{i.id}})">Toggle STDOUT</a></label>
    <code class="stdout successtext" id="stdout_{{i.id}}"><pre>{% for j in i.protocol %}{{j.stdout}}{% endfor %}</pre></code>

    <label><a href="javascript: toggle_stderr({{i.id}})">Toggle STDERR</a></label>
    <code class="stderr errortext" id="stderr_{{i.id}}"><pre>{% for j in i.protocol %}{{j.stderr}}{% endfor %}</pre></code>

    <label>Start job manually:</label>
    {% if i.shutdown %}
    <span class="buttoncontainer"><button type="button" onclick="confirm_run({{i.id}});">Start!</button></span>
    {% else %}
    <span class="buttoncontainer"><button type="button" onclick="start_job({{i.id}});">Start!</button></span>
    {% endif %}
</div>

{% endfor %}
