{% set initclass = '' %}
{% if tab.init == True %}
    {% set initclass = 'contentinit' %}
{% endif %}

<script type="text/javascript">
    start_short_poll();
</script>

<div class="tabcontent {{initclass}}" id="{{tab.id}}">
    <h2>State</h2>

    <div id="statelist_container">
        {% include "statelist.html" %}
    </div>

</div>
