<div class="tabcontent {{initclass}}" id="{{tab.id}}">
    <h2>Users</h2>

    <div id="userlist_container">
        {% include "userlist.html" %}
    </div>

    <div id="userform_container">
        {% include "newuserform.html" %}
    </div>

</div>
