<table id="usertable" class="itemlist">
    {% for i in data.users %}
    <tr>
        <td>
            <a href="javascript: rm_user({{i.id}})">
                 <img src="/static/trash.svg" />
            </a>
        </td>
        <td>
            <a href="javascript: edit_user({{i.id}})">
                 <img src="/static/edit.svg" />
            </a>
        </td>
        <td>{{i.username}}</td>
    </tr>
    {% endfor %}
</table>
