@font-face {
    font-family: 'Lato';
    src: url('/static/Lato-Regular.ttf') format('truetype');
}

body {
    background: rgb(40, 44, 52);
    color: rgb(170, 170, 170);
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin: 0em;
    margin-top: 4em;
}

h2 {
    font-size: 1.4em;
    margin-bottom: 1.2em;
    margin-top: 1.6em;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 1.2em;
    margin-top: 1.6em;
}

a, a:active, a:visited {
    color: rgb(170, 170, 170);
}

input, select, a, a:active, a:focus {
    outline: none;
}
