div#feedback {
    position: fixed;
    z-index: 10;
    top: 3.5em;
    right: 1em;
    background: rgba(120, 0, 0, 0.0);
    text-align: right;
}

.errormsg {
    color: rgb(170, 170, 170);
    background: rgba(120, 0, 0, 0.4);
}

.successmsg {
    color: rgb(170, 170, 170);
    background: rgba(0, 120, 0, 0.4);
}

.successtext {
    color: rgba(0, 170, 0, 1);
}

.errortext {
    color: rgba(190, 40, 0, 1);
}

.fbelement {
    display: none;
    float: right;
    margin-left: 1em;
    clear: both;
    border-radius: 0.5em;
    padding: 0.5em;
    margin-bottom: 0.5em;
}
