input, textarea, select, button {
    background: rgb(48, 48, 48);
    color: rgb(170, 170, 170);
    border: rgb(80, 80, 80) solid 1px;
    border-radius: 0.25em;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    padding: 0.4em;
}

input[type=button]:active, input[type=submit]:active {
    background: rgb(80, 80, 80);
}

select {
    -webkit-appearance: none;
    appearance: none;
    background-image: url("/static/select-down.svg");
    background-position: calc(100% - 0.3em) 50%;
    background-repeat: no-repeat;
    background-size: 1.3em;
    padding-right: 1.8em;
}

.dataentry {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 13em auto;
    align-items: center;
}

div.mail_drop_container {
    display: inline;
}

div.mail_drop_container select {
    width: 100%;
}

div.dump_drop_container select {
    width: 100%;
}

.dataentry label {
    grid-column: 1;
    min-width: 13em;
    vertical-align: middle;
}

.dataentry span.buttoncontainer {
    grid-column: 2;
    min-width: 0;
}

.dataentry section#job_smtp_dropdown {
    grid-column: 2;
}

section#job_smtp_dropdown select {
    width: 100%;
}

.dataentry h3 {
    grid-column: 1 / 3;
}

.dataentry table#ssh_copy_table {
    grid-column: 2;
    width: 10em;
}

.dataentry table#cron_edit_table {
    grid-column: 2;
}

#cron_edit_table input[type=text] {
    width: 3em;
}

.dataentry code.infocode {
    grid-column: 2;
}

.stdout, .stderr {
    display: none;
}
