table#logtable {
    border-collapse: collapse;
    margin-top: 1.5em;
}

table#logtable th, table#logtable td {
    border-collapse: collapse;
    border: rgb(80,80,80) solid 1px;
    border-radius: 0.25em;
    padding: 0.4em;
}

table#logtable th {
    font-weight: normal;
    text-align: left;
}

table.itemlist {
    margin: 1em 0em;
}

table.itemlist td {
    padding-right: 1em;
    padding-bottom: 0.5em;
    min-width: 1.5em;
}

table.itemlist td img {
    height: 1.5em;
}
