nav {
    background: rgb(29, 31, 33);
    padding-top: 0.5em;
}

a.tabactive {
    background: rgb(40, 44, 52);
}

a.tablinks {
    display: inline-block;
    color: rgb(170, 170, 170);
    text-decoration: none;
    padding: 0.5em;
    margin-left: 0.5em;
    margin-right: 0em;
    border-radius: 0.5em 0.5em 0em 0em;
}

.tabcontent:not(.contentinit) {
    display: none;
}

.tabcontent {
    margin: 1em;
    max-width: 60em;
}

div#fixed-header {
    position: fixed;
    width: 100%;
    top: 0em;
    left: 0em;
}

div#fixed-spacer {
    width: 100%;
    height: 1em;
    background: rgb(40, 44, 52);
}
